<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preload" href="{{ url_for('static', path='css/base.style.css') }}" as="style">
        <link rel="preload" href="{{ url_for('static', path='css/home.style.css') }}" as="style">
    </head>
    <body>

    </body>
</html>
